body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 10px 120px 100px;
}

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 75px;
    }

    .logo {
        font-size: 24px;
        color: #f9faf8;
    }

    .links {
        display: flex;
        margin-left: auto;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: #e5e7eb;
    }

    .about {
        display: flex;
        gap: 20px;
    }

    .signup {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    h1 {
        font-size: 48px;
        font-weight: bolder;
        color: #f9faf8;
        margin: 0;
    }

    p {
        font-size: 18px;
        color: #e5e7eb;
    }

    button {
        width: 100px;
        height: 45px;
        background-color: #3882f6;
        color: #f9faf8;
        border: none;
        border-radius: 10px;
    }

    .img {
        display: flex;
        justify-content: flex-end;
    }

    .about img {
        height: 60%;
    }

    .info {
        display: flex;
        height: fit-content;
        flex-direction: column;
        margin-bottom: 130px;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 36px;
        font-weight: bolder;
    }

    .cards {
        display: flex;
        height: fit-content;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 160px;
        height: fit-content;
    }

    .card img {
        width: 150px;
        height: 150px;
        border: 15px;
        border-radius: 10px;
        border-color: #3882f6;
    }

    .card p,
    .quote p {
        font-size: 18px;
        color: #1f2937;
    }

    .quote {
        display: flex;
        flex-direction: column;
        background-color: #e5e7eb;
        padding: 50px 250px;
    }

    h3 {
        font-size: 36px;
        font-style: italic;
        color: #1f2937;
        text-align: center;
    }

    .quote p {
        text-align: end;
    }